.eventos {
  color: white;
}

.eventos h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

.even-pri-p {
  text-align: center;
  margin: 20px 0;
}
.even-pri-p {
  font-size: 25px;
}

.eventos h3 {
  font-size: 30px;
  text-align: center;
}

.even-titulo-cumple p {
  font-size: 25px;
  text-align: left;
}
