.eventos {
  color: white;
}

.eventos h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

.even-pri-p {
  text-align: center;
  margin: 40px 0;
}
.even-pri-p p {
  font-size: 25px;
  margin: 10px 0;
}

.eventos h3 {
  font-size: 30px;
  text-align: center;
}
.cumples{
  display: flex;
}

.cumples img{
  width: 90%;
}

.even-titulo-cumple p {
  margin-top: 20px  ;
  font-size: 25px;
  text-align: left;
}

.reencuentro{
  display: flex;
  margin: 40px;
}

.reencuentro-titulo{
  width: 80%;
}

.reencuentro img{
  width: 100%;
}

.reencuentro p{
  margin-top: 20px  ;
  font-size: 25px;
  text-align: left;
}

.reservas-titulo{
  margin-bottom: 20px;
}

.reservas-titulo p{
  margin-top: 20px  ;
  font-size: 25px;
}

@media (max-width: 425px) {
  .cumples {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .cumples img {
    width: 100%;
  }

  .reencuentro {
    flex-direction: column;
    margin: 0 0 20px;
  }

  .even-titulo-cumple p,
  .reencuentro p {
    margin: 10px 0 20px 0;
  }

  .reencuentro-titulo {
    width: 100%;
  }
}