.galeria {
  display: inline-block;
}

.galeria > div {
    display: inline-block;
}

.galeriaimagen1 {
  width: 66%;
}

.galeriaimagen2 {
  width: 30%;
}

.galeriaimagen3 {
  width: 30%;
}

.galeriaimagen4 {
  width: 30%;
}

.galeriaimagen5 {
  width: 30%;
}

.galeriaimagen6 {
  width: 30%;
}

.galeriaimagen7 {
  width: 30%;
}

.galeriaimagen8 {
  width: 66%;
}

.galeriaimagen9 {
  width: 30%;
}

.galeriaimagen10 {
  width: 66%;
}

.galeriaimagen11 {
  width: 30%;
}
