.galeria {
  display: inline-block;
}

.galeria > div {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.galeriaimagen1,
.galeriaimagen8,
.galeriaimagen10 {
  width: 60%;
}


.galeriaimagen1,
.galeriaimagen2,
.galeriaimagen3,
.galeriaimagen4,
.galeriaimagen5,
.galeriaimagen6,
.galeriaimagen7,
.galeriaimagen9,
.galeriaimagen11 {
  width: 30%;
}

@media (max-width: 769px) {
  .galeriaimagen1,
.galeriaimagen2,
.galeriaimagen3,
.galeriaimagen4,
.galeriaimagen5,
.galeriaimagen6,
.galeriaimagen7,
.galeriaimagen9,
.galeriaimagen11 {
  width: 45%;
}
}