.inicio-video {
  margin: 10px 0;
  box-sizing: border-box;
}

.inicio-video-prueba {
  width: 100%;
  height: 400px;
  background-color: aliceblue;
}

.inicio .container-logo {
  display: inline-block;
}

.inicio-comidas {
  display: flex;
  justify-content: space-between;
}

.inicio-comidas-img1 img{
  width: 400px;
  
}
.inicio-comidas-img2 img{
  width: 250px;
  height: 100%;
}
.inicio-comidas-img3 img{
  width: 400px;
  height: 100%;
}

.inicio-container-button {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.inicio-eventos {
  display: flex;
  justify-content: space-around;
}

.inicio-localizacion {
  width: 100%;
  margin:20px 0;
}

@media screen and (max-width:840px){
  .inicio-video-prueba{
    height: 300px;
  }
  .inicio-comidas-img1 img {
    width: 275px;
    height: 100%;
  }
  .inicio-comidas-img2 img {
    width: 200px;
    height: 100%;
  }
  .inicio-comidas-img3 img {
    width: 275px;
    height: 100%;
  }
}
@media screen and (max-width:740px){
  .inicio-comidas-img1 img {
    width: 250px;
    height: 100%;
  }
  .inicio-comidas-img2 img {
    width: 150px;
    height: 100%;
  }
  .inicio-comidas-img3 img {
    width: 250px;
    height: 100%;
  }
}
