.inicio .video {
  margin: 10px 0;
  box-sizing: border-box;
}

.inicio .video-prueba {
  width: 100%;
  height: 400px;
  background-color: aliceblue;
}

.inicio video {
  height: 400px;
  margin-left: 500px;
}

.inicio .container-logo {
  display: inline-block;
}

.inicio .comidas {
  display: flex;
  justify-content: space-between;
}

.inicio .comidas img {
  margin: 0;
}

.inicio .container-button {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.inicio .eventos {
  display: flex;
  justify-content: space-around;
}

.inicio .localizacion {
  margin: 20px 0;
}