.video {
  margin: 10px 0;
  box-sizing: border-box;
}

.video-prueba {
  width: 100%;
  height: 400px;
  background-color: aliceblue;
}

video {
  height: 400px;
  margin-left: 500px;
}

.container-logo {
  display: inline-block;
}

.comidas {
  display: flex;
  justify-content: space-between;
}

.comidas img {
  margin: 0;
}

.container-button {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.eventos {
  display: flex;
  justify-content: space-around;
}

.localizacion {
  margin: 20px 0;
}